
.pink, .blue {
  background-image: var(--pink-gradient);
  padding: 3em 0 0 3em;
  border-radius: .8em;
  overflow: hidden;
  margin: 1.5em 0 2em;

  pre {
    padding: 2em;
    margin: 0;
  }

  > * {
    border-radius: .6em 0 0 0;
  }
}

.blue {
  background-image: var(--blue-gradient);
}

a[role="button"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

a[role="button"]:hover {
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  color:#fff;
}